<!-- <p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter: {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->
<p class="page-title">Rota</p>
<form ng-submit="salvarRota()" class="form-produto">
  <div class="form-group">
    <label for="rotaNameInput">Nome do Rota</label>
    <input type="text" ng-model="rota.nome" class="form-control" id="rotaNameInput" aria-describedby="rotaAjuda"
      placeholder="Nome do Rota">
  </div>

  <div class="form-group">
    <label for="descricaoTextarea">Descrição</label>
    <textarea class="form-control" ng-model="rota.descricao" id="descricaoTextarea" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>
</form>