<p class="page-title">Cliente</p>
<form ng-submit="cadastrarCliente()" class="form-cliente">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="companyNameInput">Nome da Empresa</label>
                <input required type="text" ng-model="cliente.nome" class="form-control" id="companyNameInput" aria-describedby="nomeEmpresaAjuda"
                    placeholder="Nome da Empresa">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="cpfcnpjInput">CPF ou CPNJ responsável</label>
                <input required type="number" maxlength="11" ng-model="cliente.cpfcnpj" class="form-control" id="cpfcnpjInput" placeholder="Cpf ou Cnpj">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="email" ng-model="cliente.email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Utilize a formatação correta de um e-mail.</small>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="rotaSelect">Rotas</label>
                <select required ng-model="cliente.rotaSelecionada" class="form-control" id="rotaSelect">
                    <option value="">Selecione uma rota</option>
                    <option ng-repeat="rota in rotas" ng-value="rota.id">{{rota.nome}}</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="tabelaPrecoSelect">Tabela de preço</label>
                <select required ng-model="cliente.tabelaPrecoSelecionada" class="form-control" id="tabelaPrecoSelect">
                        <option value="">Selecione uma tabela de preço</option>
                    <option ng-repeat="tabelaPreco in tabelasPreco" ng-value="tabelaPreco.id">{{tabelaPreco.nome}}</option>
                </select>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="cityInput">Cidade</label>
                <input required type="text" ng-model="cliente.cidade" class="form-control" id="cityInput" aria-describedby="cidadeAjuda" placeholder="Cidade da Empresa">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="regionInput">Estado</label>
                <input type="text" ng-model="cliente.estado" class="form-control" id="regionInput" aria-describedby="estadoAjuda" placeholder="Estado da Empresa">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="addressInput">Endereço</label>
                <input type="text" ng-model="cliente.endereco" class="form-control" id="addressInput" aria-describedby="endereçoAjuda" placeholder="Endereço da Empresa">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>