/* app css stylesheet */
html, 
body {
    height: 100%;
}

.container {
  height: 100%;
  background: violet;
}

.full-height {
  height: 100%;
  background: white;
  margin-right: 0px;
  margin-left: 0px;
}

.div-menu {
  height: calc(100% - 60px);
  background: white;
}

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.view-content {
  background: whitesmoke;
  width: 100%;
  height: calc(100% - 60px);
  border-radius: 15px 0px 0px 0px;
  overflow-y: scroll;
}

.master-page {
  height: 100%;
  background: violet;
}

body {
 background: burlywood;
 width: 100%;
 height: 100%;
}

.btn-primary {
  background-color: #00923F;
  border-color: #00923F;
}

a {
  color: #00923F;
}
/* .menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}
 */

 

 .menu > li {
  margin: 5px;
}

 .menu > li > a {
  color: slategray;
  font-size: 0.9em;
}

.logo-tonial {
  margin: 10px;
  width: 12%;
}

.page-title {
  margin-top: 15px;
  font-size: 0.9em;
}

.form-cliente {
  padding-bottom: 15px;
}

.seta-esquerda {
  content: "";

  vertical-align: middle;

  width: 0; 
  height: 0; 
  position: absolute;
  right: 0px;
    top: 0;
  float: right;

  border-top: 30px solid #88C426;
  border-bottom: 30px solid transparent; 
  border-right: 30px solid #88C426; 
}

.seta-cima {
  content: "";

  vertical-align: middle;
  top: 30px;
  right: 0px;

  width: 0; 
  height: 0; 
  float: right;

  position: absolute;

  border-left: 30px solid transparent;
  border-right:30px solid transparent;
  border-bottom: 30px solid #00923F;
}

.seta-baixo {
  content: "";
  position: absolute;
  vertical-align: middle;

  width: 0; 
  height: 0; 
  float: right;

  right: 0;
  top: 0;

  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #BFF102;
}

.default-label {
  font-size: 11px;
  float: right;
  margin-right: 80px;
  margin-top: 17px;
}

.default-label-nav {
  font-size: 10px;
  margin-right: 10px;
  position: absolute;
}

.nav-cliente {
  margin-left: 50px;
}
.nav-produto {
  margin-left: 120px;
}
.nav-pedido {
  margin-left: 190px;
}

.font-bold {
  font-weight: bold;
}

.cliente-ammount {
  position: absolute;
  top: 10px;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: whitesmoke;
  border-color: #dee2e6 #dee2e6 whitesmoke;
}

.nav-pedido-tabs {
  margin-top: 15px;
}

.default-margin {
  margin: 10px;
}

.div-centered {
  margin-right: 0px;
  margin-left: 0px;
  display: table;
}

.transparent {
  opacity: 0;
}