/* app css stylesheet */
html, 
body {
    height: 100%;
}

.container {
  height: 100%;
  background: violet;
}

.full-height {
  height: 100%;
  background: white;
  margin-right: 0px;
  margin-left: 0px;
}

.div-menu {
  height: calc(100% - 57px);
  background: white;
}

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.view-content {
  background: whitesmoke;
  width: 100%;
  height: calc(100% - 57px);
  border-radius: 15px 0px 0px 0px;
  overflow-y: scroll;
}

.master-page {
  height: 100%;
  background: violet;
}

body {
 background: burlywood;
 width: 100%;
 height: 100%;
}

/* .menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}
 */


 .menu > li {
  margin: 5px;
}

 .menu > li > a {
  color: slategray;
  font-size: 0.9em;
}

.logo-tonial {
  margin: 10px;
  width: 12%;
}

.page-title {
  margin-top: 15px;
  font-size: 0.9em;
}

.form-cliente {
  padding-bottom: 15px;
}











.tabsdemoDynamicTabs md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicTabs md-content md-tabs {
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicTabs md-content md-tabs md-tab-content {
      background: #f6f6f6; }
    .tabsdemoDynamicTabs md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicTabs md-content h1:first-child {
    margin-top: 0; }

.tabsdemoDynamicTabs md-input-container {
  padding-bottom: 0; }

.tabsdemoDynamicTabs .remove-tab {
  margin-bottom: 40px; }

.tabsdemoDynamicTabs .demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box; }

.tabsdemoDynamicTabs .edit-form input {
  width: 100%; }

.tabsdemoDynamicTabs md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.tabsdemoDynamicTabs md-tab[disabled] {
  opacity: 0.5; }

.tabsdemoDynamicTabs label {
  text-align: left; }

.tabsdemoDynamicTabs .long > input {
  width: 264px; }

.tabsdemoDynamicTabs .md-button.add-tab {
  transform: translateY(5px); }