/* app css stylesheet */
html, 
body {
    height: 100%;
}

.container {
  height: 100%;
  background: violet;
}

.full-height {
  height: 100%;
  background: blue;
}

.div-menu {
  height: calc(100% - 82px);
  background: red;
}

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.view-content {
  background: blueviolet;
  width: 100%;
  height: calc(100% - 82px);
}

body {
 background: burlywood;
 width: 100%;
 height: 100%;
}

/* .menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}


.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
} */
