<!-- <p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter: {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->
<p class="page-title">Tabelas de preço</p>
<form ng-submit="salvarTabelaPreco()" class="form-produto">
  <div class="form-group">
    <label for="tabelaNameInput">Nome da Tabela</label>
    <input required type="text" ng-model="tabelaPreco.nome" class="form-control" id="tabelaNameInput" aria-describedby="tabelaAjuda"
      placeholder="Nome da Tabela">
  </div>


  <div class="form-group">
    <label for="descricaoTextarea">Descrição</label>
    <textarea class="form-control" ng-model="tabelaPreco.descricao" id="descricaoTextarea" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>

</form>