<!-- <p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter: {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->
<p class="page-title">Produto</p>
<form ng-submit="salvarProduto()" class="form-produto">
  <div class="form-group">
    <label for="productNameInput">Nome do Produto</label>
    <input type="text" ng-model="produto.nome" class="form-control" id="productNameInput" aria-describedby="nomeProdutoAjuda"
      placeholder="Nome do Produto">

    <label style="margin-top:30px" for="produtoSelect">Selecione um produto para alteração:</label>
    <select ng-change="selectedProduto()" ng-model="produto.selectedProduto" class="form-control" id="produtoSelect">
      <option value="">Selecione um produto</option>
      <option ng-repeat="produto in produto.produtos" value="{{produto.id}}">{{produto.nome}}</option>
    </select>
    <p id="loading" style="display:none">carregando tabela de preços...</p>
  </div>
  <!-- <div class="form-group">
    <label for="produtoSelect">Produto</label>
    <select ng-change="selectedProduto()" ng-model="rota.selectedProduto" class="form-control" id="produtoSelect">
      <option ng-repeat="produto in rota.produtos" value="{{produto.id}}">{{produto.nome}}</option>
    </select>
  </div> -->


  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tabela de Preço</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tabelaPreco in tabelasPreco">
        <th scope="row">{{tabelaPreco.id}}</th>
        <td>{{tabelaPreco.nome}}</td>
        <td>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">R$</span>
            </div>
            <input type="number" step=".01" ng-model="tabelaPreco.preco" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <button type="submit" class="btn btn-primary">Salvar</button>
</form>